body {
    background-color: baby blue; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white ; 
    text-align: center;
}

img {
    box-shadow: 0px 4px 10px gray;
}


